@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quantico&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --color-gris: rgb(158, 158, 158);
    --color-marron: rgb(27, 16, 14);
    --color-violeta: rgb(141, 86, 157);
    --color-amarillo: rgb(228, 177, 3) ;
    --color-negro: rgb(0,0,0);
    --font-quantico: 'Quantico', sans-serif;
    --font-opensans:  'Open Sans', sans-serif;
    
}
body {
    background-color: var(--color-negro);
}
main{
    display: flex;
    justify-content: center;
}
/* barra de navegacion estilo */
.barranav {
    background-color: var(--color-marron);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.barranav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 80%;

}

.barranav ul li a {
    color: var(--color-gris);
    text-decoration: none;
    font-family: var(--font-quantico);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 50px;
}

/*---------------------------------*/
.barranav-iconos {
    background-color: var(--color-violeta);
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    
}

.lado-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 1rem;
}

.logo img {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

.instagram img {
    align-items: end;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*** MENU HAMBURGUESA STYLES ***/
.menu-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.btn-menu{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
/*** BARRA LATERAL ***/
.nav-lateral-container {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.644);
    /*** PARA ARRIBA ***/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 0%;
    scrollbar-color: none;
}
/*** CAJA NEGRA ***/
.nav-list-lateral {
    display: flex;
    flex-direction: column;
    
    width: 20%;
    height: 100%;
    background-color: black;
    
    color: var(--color-amarillo);
    text-decoration: solid;
}
.cerrar {
    font-family: var(--font-quantico);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.lista {
    flex-direction: column;
    display: flex;
    row-gap: 20px;
    margin-top: 50px;
    margin-left: 20px;
    text-decoration: none; 
    list-style: none;   
}
.lista li a {
    font-family: var(--font-quantico);
    list-style: none;
    text-decoration: none;
    color: var(--color-amarillo);
}
/** MAIN PAGINA HOME **/
/** CONTACTO TEXTO **/
.informacion-container{

    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.informacion_container-imagen img {
    display: flex;
    width: 400px;
    height: 200px;
    
}
.informacion_container-texto {
    color: var(--color-gris);
}
/** CONTACTO TEXTO **/
.contacto-container{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.contacto_container-imagen img {
    display: flex;
    width: 400px;
    height: 200px;
    
}
.contacto_container-texto {
    color: var(--color-gris);
}
/*** PORTFOLIO TEXTO ***/
.portfolio-container{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.portfolio_container-imagen img {
    display: flex;
    width: 400px;
    height: 200px;
    
}
.portfolio_container-texto {
    color: var(--color-gris);
}  
/*** CONTACTO TEXTO ***/
.contacto-container{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.contacto_container-imagen img {
    display: flex;
    width: 400px;
    height: 200px;
    
}
.contacto_container-texto {
    color: var(--color-gris);
}    
.enlaces-container{
    width: 100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

/******** PORTFOLIO PAGE *************/
.none{
    color: var(--color-amarillo);
}

/******* INFO PAGE **********/
.imagen-central {
    margin-top: 100px;
}
.imagen-central img{
    width: 200px;
    height: 200px;
}

/** PRIMERA PARTE INFO **/
.info-cuerpo{
    width: 800px;
    height: 100vh;
    background-color: blue;
    margin-top: 75px;
}
.info-cuerpo h2 {
    color: var(--color-amarillo);
    font-family: var(--font-quantico);
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.4;
    font-size: 1.5em;
}
.info-cuerpo p{
    color: var(--color-gris);
    font-family: var(--font-opensans);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    
}
.info_cuerpo-imagen {
    width: 200px;
    height: 200px;
    background-color: green;
}